@charset "UTF-8";
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: local("☺"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/popupFonts/icons.eot?shbivy");
  src: url("../fonts/popupFonts/icons.eot?shbivy#iefix") format("embedded-opentype"), url("../fonts/popupFonts/icons.ttf?shbivy") format("truetype"), url("../fonts/popupFonts/icons.woff?shbivy") format("woff"), url("../fonts/popupFonts/icons.svg?shbivy#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e700";
}

.icon-check:before {
  content: "\e800";
}

.icon-check1:before {
  content: "\e701";
  color: #fff;
}

.icon-email-black:before {
  content: "\e802";
}

.icon-icon-send:before {
  content: "\e703";
  color: #fff;
}

.icon-person-black:before {
  content: "\e808";
}

.icon-phone-black:before {
  content: "\e804";
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?n5zw37");
  src: url("../fonts/icons.eot?n5zw37#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?n5zw37") format("truetype"), url("../fonts/icons.woff?n5zw37") format("woff"), url("../fonts/icons.svg?n5zw37#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e908";
  color: #fff;
}

.icon-instagram:before {
  content: "\e909";
  color: #fff;
}

.icon-linkedin:before {
  content: "\e90a";
  color: #fff;
}

.icon-twitter:before {
  content: "\e90b";
  color: #fff;
}

.icon-facebook2:before {
  content: "\e90c";
  /* color: #afb1b8; */
}

.icon-instagram2:before {
  content: "\e90d";
  /* color: #afb1b8; */
}

.icon-linkedin2:before {
  content: "\e90e";
  /* color: #afb1b8; */
}

.icon-twitter2:before {
  content: "\e90f";
  /* color: #afb1b8; */
}

.icon-Client-1:before {
  content: "\e900";
}

.icon-Client-2:before {
  content: "\e901";
}

.icon-Client-3:before {
  content: "\e902";
}

.icon-Client-4:before {
  content: "\e903";
}

.icon-Client-5:before {
  content: "\e904";
}

.icon-Client-6:before {
  content: "\e905";
}

.icon-envelope:before {
  content: "\e906";
}

.icon-smartphone:before {
  content: "\e907";
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/menuFonts/");
  src: url("../fonts/menuFonts/icons.eot?ltlak3#iefix") format("embedded-opentype"), url("../fonts/menuFonts/icons.ttf?ltlak3") format("truetype"), url("../fonts/menuFonts/icons.woff?ltlak3") format("woff"), url("../fonts/menuFonts/icons.svg?ltlak3#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e100";
}

.icon-menu:before {
  content: "\e101";
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/close1/");
  src: url("../fonts/close1/icons.eot?cv05yn#iefix") format("embedded-opentype"), url("../fonts/close1/icons.ttf?cv05yn") format("truetype"), url("../fonts/close1/icons.woff?cv05yn") format("woff"), url("../fonts/close1/icons.svg?cv05yn#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close1:before {
  content: "\e102";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__container {
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #2196f3;
}

.logo span {
  color: #000;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__nav {
  display: none;
}

.contacts__link {
  display: none;
}

@media (min-width: 768px) {
  .header {
    border: none;
  }
  .header__portfolio {
    border-bottom: 1px solid #ECECEC;
  }
  .header__container {
    height: 80px;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* logo */
  .logo {
    font-family: "Raleway", sans-serif;
    width: 20%;
    font-size: 26px;
    font-weight: 700;
    color: #2196f3;
  }
  .logo span {
    color: #000;
  }
  .header__nav {
    display: block;
  }
  /* nav */
  .nav__link {
    cursor: pointer;
    padding-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #000;
    display: inline-block;
    margin-right: 50px;
    position: relative;
    -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link-studio::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    position: absolute;
    top: 49px;
    left: 0;
  }
  .nav__link-portfolio::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    position: absolute;
    top: 49px;
    left: 0;
  }
  .nav__link:nth-child(2) a:focus {
    color: #2196f3;
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:last-child {
    margin-right: 0;
  }
  .nav__link a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #000;
  }
  .nav__link a:hover {
    color: #2196f3;
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__link {
    display: block;
    margin-right: 50px;
  }
  .contacts__link:last-child {
    margin-right: 0;
  }
  .contacts__link a {
    position: relative;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contacts__link a:hover {
    color: #2196f3;
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-envelope {
    display: inline-block;
    margin-right: 10px;
  }
  .icon-smartphone {
    display: inline-block;
    margin-right: 10px;
  }
  .nav {
    max-width: 77%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 84px;
  }
  .logo {
    font-size: 24px;
  }
  .contacts__list {
    max-width: 23%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .nav__list {
    max-width: 300px;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts__link {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .contacts__link:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
    width: 100%;
  }
  .nav {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts__list {
    max-width: 350px;
    width: 100%;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .contacts__link:first-child {
    margin-right: 30px;
  }
}

.main__section {
  display: none;
  text-align: center;
  padding: 118px 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-height: 400px;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/mobile/Header img.jpg");
  background-image: -webkit-linear-gradient(bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/Header img.jpg");
  background-image: -o-linear-gradient(bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/Header img.jpg");
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/Header img.jpg");
  -webkit-background-size: cover;
          background-size: cover;
}

.menu__section--hiden {
  display: block;
}

.main__section--title {
  padding: 0 15px;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 380px;
  width: 100%;
  text-align: center;
  line-height: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}

@media screen and (max-width: 360px) {
  .main__section--title {
    font-size: -webkit-calc(16px + 8 * (100vw/1200));
    font-size: calc(16px + 8 * (100vw/1200));
  }
}

.main__section--btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.main__section--btn:hover {
  background: #2f5f81;
}

.directions {
  padding: 60px 0;
}

.directions__items {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.directions--item {
  display: block;
  max-width: 450px;
  width: 100%;
  max-height: 226px;
  height: 100%;
  margin-bottom: 30px;
}

.directions--item:last-child {
  margin-bottom: 0;
}

.direction__img--block {
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.direction__img {
  display: inline-block;
}

.direction__title {
  padding-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.direction__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.what__wedo {
  display: none;
}

.our__team {
  padding: 60px 0;
  background: #f5f4fa;
  text-align: center;
  margin: 0 auto;
}

.our__team--title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.team__item {
  max-width: 450px;
  width: 100%;
  max-height: 622px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba 0, 0, 0, 0.14, 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba 0, 0, 0, 0.14, 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team__item:last-child {
  margin-bottom: 0;
}

.team__item--img {
  max-width: 450px;
  max-height: 460px;
  width: 100%;
  height: 100%;
}

.team__item--name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
  margin: 30px 0 10px 0;
}

.team__item--position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #757575;
}

.team__social {
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 32px;
}

.icon__team--inner {
  cursor: pointer;
  display: inline-block;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.icon__team--inner:hover {
  background-color: #2196f3;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__team--inner:hover .team__icon {
  color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  font-size: 20px;
  top: 11px;
  left: 11px;
  color: #afb1b8;
}

.icon__team--inner {
  margin-right: 10px;
}

.icon__team--inner:last-child {
  margin-right: 0;
}

.regular__customers {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}

.regular__customers-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.regular__customers-items {
  text-align: center;
  display: inline-block;
  max-width: 450px;
  max-height: 393px;
  width: 100%;
  height: 100%;
}

@media (max-width: 310px) {
  .regular__customers-items {
    margin-bottom: 100px;
  }
}

.customers__item {
  text-align: center;
  display: inline-block;
  max-width: 210px;
  max-height: 90px;
  width: 100%;
  height: 100%;
  color: inherit;
  margin-bottom: 30px;
}

.customers__item:nth-child(4n+1) {
  margin-bottom: 0px;
}

.customers__item:nth-child(odd) {
  margin-right: 25px;
}

@media (max-width: 479px) {
  .customers__item {
    max-width: 170px;
    max-height: 70px;
    margin-top: 20px;
  }
  .customers__item:nth-child(odd) {
    margin-right: 20px;
  }
}

@media (max-width: 400px) {
  .customers__item {
    max-height: 50px;
    margin-top: -webkit-calc(10px + 2 * (100vw/1200));
    margin-top: calc(10px + 2 * (100vw/1200));
    max-width: -webkit-calc(130px + 20 * (100vw/1200));
    max-width: calc(130px + 20 * (100vw/1200));
  }
  .customers__item:nth-child(odd) {
    margin-right: -webkit-calc(3px + 2*(100vw/1200));
    margin-right: calc(3px + 2*(100vw/1200));
  }
}

@media (max-width: 310px) {
  .customers__item {
    max-width: 100%;
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.icon__customers {
  max-width: 200px;
  width: 100%;
  display: inline-block;
  border: 1px solid #AFB1B8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 90px;
  color: #AFB1B8;
}

.icon__customers:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__customers {
  display: inline-block;
  margin: 0 auto;
  font-size: 90px;
}

@media (min-width: 768px) {
  .main__section {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/tablet/Header img (1).jpg");
    background-image: -webkit-linear-gradient(bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/Header img (1).jpg");
    background-image: -o-linear-gradient(bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/Header img (1).jpg");
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/Header img (1).jpg");
  }
  .main__section--title {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .directions__items {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .directions--item {
    max-width: 354px;
    width: 100%;
    max-height: 251px;
    height: 100%;
    margin: 0 30px 30px 0;
  }
  .directions--item:nth-child(even) {
    margin-right: 0;
  }
  .directions--item:nth-child(3) {
    margin-bottom: 0;
  }
  .direction__title {
    text-align: left;
  }
  .team {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .team__item {
    max-width: 354px;
    width: 100%;
    max-height: 536px;
    height: 100%;
  }
  .team__item--img {
    max-width: 354px;
    max-height: 374px;
  }
  .regular__customers-items {
    margin: 0 auto;
    max-width: 738px;
    max-height: 273px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .customers__item {
    max-width: 226px;
    max-height: 90px;
    margin: 0 30px 30px 0;
  }
  .customers__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .customers__item:nth-child(3n) {
    margin-right: 0;
  }
  .customers__item .icon__customers {
    max-width: 226px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .main__section {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/bg.jpg");
    background-image: -webkit-linear-gradient(bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg.jpg");
    background-image: -o-linear-gradient(bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg.jpg");
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg.jpg");
  }
  .main__section {
    max-height: 600px;
    height: 100%;
  }
  .main__section--title {
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 30px;
    max-width: 600px;
    width: 100%;
  }
  .directions {
    padding: 94px 0;
  }
  .directions__items {
    max-width: 1200px;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .directions--item {
    max-width: 270px;
    margin: 0 30px 0 0;
  }
  .directions--item:nth-child(even) {
    margin-right: 30px;
  }
  .directions--item:last-child {
    margin-right: 0;
  }
  .what__wedo {
    padding-bottom: 94px;
    display: block;
  }
  .wedo__title {
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    margin-bottom: 50px;
  }
  .wedo__images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wedo__images--item {
    position: relative;
    max-width: 370px;
    width: 100%;
    max-height: 294px;
    height: 100%;
  }
  .wedo__img--text {
    padding-top: 27px;
    width: 370px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    left: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 5;
    background: rgba(47, 48, 58, 0.8);
  }
  .our__team {
    padding: 94px 0;
  }
  .team {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .team__item {
    max-width: 270px;
    width: 100%;
    max-height: 428px;
    height: 100%;
  }
  .team__item--img {
    max-width: 270px;
    max-height: 260px;
  }
  .regular__customers {
    padding: 94px 0;
  }
  .regular__customers-items {
    max-width: 1200px;
    height: auto;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .customers__item {
    max-width: 170px;
    max-height: 90px;
    margin: 0 30px 0 0;
  }
  .customers__item:nth-child(3n) {
    margin-right: 30px;
  }
  .customers__item:last-child {
    margin-right: 0;
  }
  .customers__item .icon__customers {
    max-width: 170px;
    width: 100%;
  }
}

.footer {
  max-width: 100vw;
  height: 603px;
  width: 100%;
  text-align: center;
  background: #2f303a;
  padding: 60px 0;
}

.footer__logo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2196f3;
}

.footer__logo span {
  color: #fff;
}

.footer__contscts {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.footer__adress {
  margin-bottom: 8px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.footer__adress:hover {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__email {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.footer__email:hover {
  color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel:hover {
  color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  max-width: 206px;
  width: 100%;
}

.footer__social-join {
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__social-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item {
  margin-right: 10px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.icon__inner {
  cursor: pointer;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #454655;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 27%;
}

.icon__inner:hover {
  background-color: #2196f3;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__footer {
  display: inline-block;
  font-size: 20px;
}

.email__box {
  display: block;
  width: 100%;
  padding-top: 60px;
  text-align: center;
  margin: 0 auto;
}

.email__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.email__input {
  display: block;
  margin: 0 auto;
  background: #2F303A;
  padding-left: 16px;
  font-size: 16px;
  max-width: 358px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.email__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.email__btn {
  display: block;
  position: relative;
  max-width: 200px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  padding-left: 28px;
  color: #fff;
}

.icon-icon-send {
  position: absolute;
  right: 40px;
  top: 13px;
  display: inline-block;
  padding-left: 10px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .footer {
    max-height: 463px;
    height: 100%;
    padding: 0;
    width: 100%;
  }
  .footer__box {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    max-height: 463px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 89px 76px;
  }
  .footer__contscts {
    max-width: 232px;
  }
  .email__box {
    padding: 0;
    max-width: 450px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer {
    max-height: 252px;
  }
  .footer__box {
    max-width: 1200px;
    max-height: 252px;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 0;
  }
  .footer__contscts {
    max-width: 232px;
    text-align: left;
    margin: 0;
  }
  .footer__logo {
    text-align: left;
  }
  .email__box {
    padding-top: 8px;
    text-align: left;
    max-width: 570px;
    width: 100%;
    margin: 0;
  }
  .email__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .footer__social {
    max-width: 206px;
    margin: 0;
  }
  .footer__social-join {
    text-align: left;
  }
  .email__input {
    margin-right: 12px;
  }
}

/* popup */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.is-hidden {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  max-width: 450px;
  width: 100%;
  height: 100%;
  max-height: 609px;
  padding: 40px;
  position: relative;
}

@media (max-width: 320px) {
  .popup__content {
    padding: 10px;
  }
}

.popup__close {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #000;
  font-size: 20px;
  border: none;
  background-color: inherit;
}

.popup__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

@media (max-width: 320px) {
  .popup__title {
    font-size: -webkit-calc(18px + 2 * (100vw/1200));
    font-size: calc(18px + 2 * (100vw/1200));
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
  }
}

.popup__text {
  font-size: 20px;
  color: #000;
}

.close__btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 0;
}

.close__btn:hover {
  color: #2196f3;
}

.icon-close1 {
  font-size: 12px;
}

.popup__inputs {
  max-width: 370px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__input {
  position: relative;
  margin-bottom: 10px;
}

.input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  max-width: 370px;
  width: 100%;
  height: 40px;
  background-position: 12px 50%;
  cursor: pointer;
  padding-left: 40px;
}

.input:focus {
  border-color: #2196f3;
}

.input__area {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  max-width: 370px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.input__area:focus {
  border-color: #2196f3;
}

.popup__input-title {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.input__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  font-size: 18px;
}

.input:focus + .input__icon {
  color: #2196f3;
}

.popup__agree {
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}

.popup__agree-text {
  display: inline-block;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  color: #757575;
  padding-left: 20px;
}

.popup__agree-text a {
  font-size: 12px;
}

.popup__agree-text::before {
  content: "";
  display: inline-block;
  border: 3px solid #212121;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-right: 8px;
  background-color: #fff;
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.popup__agree-text::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../img/popup/check1.svg") no-repeat;
  -webkit-background-size: 14px 14px;
          background-size: 14px 14px;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 1px;
  z-index: 2;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.popup__agree-check {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}

.popup__agree-check:checked + .popup__agree-text::before {
  background-color: #2196f3;
  border: none;
}

.popup__agree-check:checked + .popup__agree-text::after {
  opacity: 1;
}

.popup__agree-text a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.popup__submit-btn {
  display: inline-block;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: #2196f3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

/* /popup */
@media (min-width: 1200px) {
  .popup__content {
    max-width: 528px;
    max-height: 581px;
  }
  .popup__inputs {
    max-width: 448px;
  }
  .input__area {
    max-width: 448px;
  }
  .input {
    max-width: 448px;
  }
}

.portfolio__section {
  margin: 0 auto;
  padding: 60px 0;
}

.main__nav--list {
  padding: 0;
  max-width: 450px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 25px;
}

.main__nav--link {
  margin-right: 8px;
  margin-bottom: 15px;
}

.main__nav--link:last-child {
  margin-right: 0;
}

.nav__btn {
  text-align: center;
  display: inline-block;
  width: auto;
  height: 38px;
  background: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}

.nav__btn:hover {
  background: #2196f3;
  color: #fff;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* cards */
.cards {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__img--box {
  position: relative;
  max-width: 450px;
  max-height: 404px;
  width: 100%;
  height: 100%;
}

.card__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 77px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  width: 100%;
  max-width: 450px;
  max-height: 404px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__item {
  position: relative;
  max-width: 450px;
  max-height: 404px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__item:hover .card__overlay {
  opacity: 1;
  top: 0;
}

.card__img {
  max-width: 450px;
  width: 100%;
  max-height: 294px;
  height: 100%;
}

.card__title {
  padding: 20px 24px;
  border: 1px solid #EEE;
  border-top: none;
}

.card__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.card__type {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

.nav__link-portfolio::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  top: 0px;
  left: 0;
}

@media (min-width: 768px) {
  .main__nav--list {
    margin: 0 auto;
    max-width: 611px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cards {
    max-width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cards__item {
    max-width: 354px;
  }
  .cards__item:nth-child(odd) {
    margin-right: 30px;
  }
  .cards__item:last-child {
    margin-bottom: 0;
  }
  .card__overlay {
    max-width: 354px;
    max-height: 294px;
    padding-top: 35px;
  }
  .card__img--box {
    max-width: 354px;
  }
  .card__img {
    max-width: 354px;
  }
}

@media (min-width: 1200px) {
  .main__nav--list {
    margin-bottom: 34px;
  }
  .cards {
    max-width: 1170px;
  }
  .cards__item {
    max-width: 370px;
    margin-right: 30px;
  }
  .cards__item:nth-child(3n+3) {
    margin-right: 0;
  }
  .cards__item .card__overlay {
    max-width: 370px;
  }
  .card__img--box {
    max-width: 370px;
  }
  .card__img {
    max-width: 370px;
  }
}

.menu__btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 12px 8px;
  display: block;
  margin-bottom: 4px;
}

.menu__btn:hover .menu__btn--img {
  color: #2196f3;
}

.menu__btn--img {
  display: none;
  color: #000;
  font-size: 24px;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  font-size: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 10;
  opacity: 0;
}

.menu__btn--active .icon-close {
  opacity: 1;
}

.menu__btn--active .icon-menu {
  opacity: 0;
}

.mobile__menu {
  display: none;
  padding-top: 60px;
  position: absolute;
  top: 60;
  left: 0;
  z-index: 100;
  max-width: 100;
  width: 100%;
  max-height: 393px;
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile__menu--active {
  display: block;
}

.nav__list--mobile {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99px;
  height: 155px;
  margin-bottom: 60px;
}

.nav__link {
  cursor: pointer;
  padding-top: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000;
  display: inline-block;
  margin-right: 50px;
  position: relative;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link-studio::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  top: 29px;
  left: 0;
}

.nav__link-portfolio::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  top: 29px;
  left: 0;
}

.nav__link:nth-child(2) a:focus {
  color: #2196f3;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000;
}

.nav__link a:hover {
  color: #2196f3;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--mobile {
  margin: 0 0 40px 0;
}

.nav__link--mobile:last-child {
  margin-bottom: 0;
}

.icon-envelope {
  display: inline-block;
  margin-right: 10px;
}

.icon-smartphone {
  display: inline-block;
  margin-right: 10px;
}

.contacts__list--mobile {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__link--mobile:first-child {
  margin-bottom: 16px;
}

.contacts__link--mobile a {
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts__link--mobile a:hover {
  color: #2196f3;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__btn {
  display: block;
}

.menu__btn--img {
  display: block;
}

.nav__link-studio::before {
  top: 28px;
}

@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }
  .nav__link-studio::before {
    top: 48px;
  }
  .nav__link-portfolio::before {
    top: 48px;
  }
}

/* container */
.container {
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */