@import "./utils/variables";
@import "./components/null";
@import "./components/header";
@import "./components/main-page";
@import "./components/footer";
@import "./components/popup";
@import "./components/portfolio";
@import "./components/burger-menu";

body {font-family: "Roboto", sans-serif;}

  /* container */

.container {
  
    margin: 0 auto;
    padding: 0 15px;
    font-family: "Roboto", sans-serif;
    max-width: 1200px;
    width: 100%;

  
}

@media (max-width: 480px) {
  .container {
  max-width: 480px;
  width: 100%;
  }
}

@media (max-width: 768px) {
  container {
    max-width: 768px ;
    width: 100%;
  }
}




  
  
  
  
  