
// !main__section

.main__section {
 
      display: none;
      text-align: center;
      padding: 118px 0;
      margin: 0 auto;
    font-family: "Roboto", sans-serif;
      width: 100%;
      max-height: 400px;
        height: 100%;
      background-image: linear-gradient(to top,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(
        "../img/bg.jpg");
      background-size: cover;
    }

    .menu__section--hiden {
          display: block;
        }
    
      .main__section--title {
        padding: 0 15px;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 380px;
    width: 100%;
    text-align: center;
    
    line-height: 42px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
    @media screen and (max-width: 360px) {
      font-size: calc(16px + 8 * (100vw/1200) );
    }
    
      }

      .main__section--btn {
            margin: 0 auto;
            width: 200px;
            height: 50px;
            color: #fff;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 30px;
          
            background: $brand__color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                background: #2f5f81;}
          }

      // !directions 
      .directions {
        padding: 60px 0;
      }
      .directions__items {
        
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
      }

      .directions--item {
        display: block;
        max-width: 450px;
        width: 100%;
        max-height: 226px;
        height: 100%;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .direction__img--block {
width: 100%;
height: 120px;
background: #F5F4FA;
border-radius: 4px;

display: flex;
margin: auto;
justify-content: center;
      }
      
      
      .direction__img{
       display: inline-block;
      }

      .direction__title {
        padding-top: 30px;
        text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #212121;
            text-transform: uppercase;
            margin-bottom: 10px;
          }


          .direction__text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
          
            color: #757575;
          }


      // !.what__wedo

          .what__wedo {
            display: none;
          }

      //! our__team
     
      .our__team {
        padding: 60px 0;
        background: #f5f4fa;
        text-align: center;
        margin: 0 auto;
      }

      .our__team--title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
            
        text-align: center;
        margin-bottom: 30px;
          }

      .team__item {
        max-width: 450px;
        width: 100%;
        max-height: 622px;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 16px;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba    (0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
      }

      .team__item--img {
        max-width: 450px;
        max-height: 460px;
        width: 100%;
        height: 100%;
      }

      .team__item--name {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
           
            text-align: center;
            color: #212121;
            margin: 30px 0 10px 0;
          }
          .team__item--position {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            
            text-align: center;
            color: #757575;
          }

    
      .team__social {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            padding: 0 32px;
          }
          
          .icon__team--inner {
            cursor: pointer;
            display: inline-block;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
            &:hover {
                background-color: $brand__color;
                transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
              }
              &:hover .team__icon {
                color: #fff;
                transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
              }
              
          }
          
          
          .team__icon {
            cursor: pointer;
            position: absolute;
            display: inline-block;
            font-size: 20px;
            top: 11px;
            left: 11px;
            color: #afb1b8;
          }

      .icon__team--inner {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      
     

      // !regular customers

      .regular__customers {
        margin: 0 auto;
        text-align: center;
        padding: 60px 0;
      }

      .regular__customers-title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
            
        text-align: center;
        margin-bottom: 30px;
      }

      .regular__customers-items {
        text-align: center;
        display: inline-block;
        max-width: 450px;
        max-height: 393px;
        width: 100%;
        height: 100%;
        @media (max-width: 310px) {
          margin-bottom: 100px;
        }
      }

      .customers__item {
        text-align: center;
        display: inline-block;
        max-width: 210px;
        max-height: 90px;
        width: 100%;
        height: 100%;
        color: inherit;
        margin-bottom: 30px;
        &:nth-child(4n+1) {
          margin-bottom: 0px;
        }
        &:nth-child(odd) {
          margin-right: 25px;
        }
        @media (max-width: 479px) {
          max-width: 170px;
        max-height: 70px;
        margin-top: 20px;
        &:nth-child(odd) {
          margin-right: 20px;
        }
        }
        @media (max-width: 400px) {
          // max-width: 130px;
        max-height: 50px;
        margin-top: calc(10px + 2 * (100vw/1200));
        max-width:  calc(130px + 20 * (100vw/1200) );
        &:nth-child(odd) {
          margin-right: calc(3px + 2*(100vw/1200));
        }
        }
        @media (max-width: 310px) {
          max-width: 100%;
          width: 100%;
          margin: 0 0 20px 0;
        }
        
      }
        .icon__customers {
          max-width: 200px;
          width: 100%;
                  display: inline-block;
                  border: 1px solid #AFB1B8;
                  border-radius: 5px;
                  font-size: 90px;
                  color: #AFB1B8;
                  &:hover {
                      color: $brand__color;
                      border: 1px solid $brand__color;
                      transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                    }
                }
      
    
      
      .icon__customers {
       
        display: inline-block;
        margin: 0 auto;
        
        font-size: 90px;
        
      }
    


@media (min-width: 768px) {

//  !main__section 

  

  .main__section--title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  
  

  // !directions 


  .directions__items {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
  }

  .directions--item {
    max-width: 354px;
    width: 100%;
    max-height: 251px;
    height: 100%;
    margin: 0 30px 30px 0;
    &:nth-child(even) {
      margin-right: 0;
    }
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }


// !our team

.team {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
display: flex;
flex-wrap: wrap;
}


  

.team__item {
  max-width: 354px;
        width: 100%;
        max-height: 536px;
        height: 100%;
}


// !regular customers

.regular__customers-items {
  margin: 0 auto;
  max-width: 738px;
        max-height: 273px;
        display: flex;
        flex-wrap: wrap;
}

.customers__item {
  max-width: 226px;
  max-height: 90px;
margin: 0 30px 30px 0;
&:nth-last-child(-n+3) {
  margin-bottom: 0;
}
&:nth-child(3n) {
  margin-right: 0;
}

.icon__customers {
  max-width: 226px;
  width: 100%;
}
}
  
}
  
    
@media (min-width: 1200px) {

  //  !main__section 

  .main__section {
    max-height: 600px;
        height: 100%;
  }

  .main__section--title {
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 30px;
    max-width: 600px;
    width: 100%;
  }

  //   /* /main__section */

  // !directions
  
  .directions {
    padding: 94px 0;
  }

  .directions__items {
    max-width: 1200px;
    flex-wrap: nowrap;
  }

  .directions--item {
    max-width: 270px;
    &:nth-child(even) {
      margin-right: 30px;
    }
    &:last-child {
      margin-right: 0;
    }
    margin: 0 30px 0 0;
  }

  // !what__wedo

  .what__wedo {
    padding-bottom: 94px;
    display: block;
  }

  .wedo__title {
        text-align: center;
        margin: 0 auto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #212121;
        margin-bottom: 50px;
      }
      
      
      .wedo__images {
        display: flex;
        justify-content: space-between;
      }
      .wedo__images--item {
        position: relative;
        max-width: 370px;
        width: 100%;
        max-height: 294px;
        height: 100%;
      }
      
    
      .wedo__img--text {
        padding-top: 27px;
        width: 370px;
        height: 70px;
        position: absolute;
        bottom: 0px;
        left: 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        z-index: 5;
        background: rgba(47, 48, 58, 0.8);
      }

  // !our team

  .our__team {
    padding: 94px 0;
  }

.team {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
flex-wrap: nowrap;
}

.team__item {
  max-width: 270px;
        width: 100%;
        max-height: 428px;
        height: 100%;
}
  
// !regular customers

.regular__customers {
  padding: 94px 0;
}

.regular__customers-items {
        max-width: 1200px;
        height: auto;
        flex-wrap: nowrap;
}

.customers__item {
  max-width: 170px;
  max-height: 90px;
margin: 0 30px 0 0;
&:nth-child(3n) {
  margin-right: 30px;
}
&:last-child {
  margin-right: 0;
}


.icon__customers {
  max-width: 170px;
  width: 100%;
}
}



}




