/* portfolio */
  
  
  
  // .header__line {
  //   width: 100%;
  //   height: 1px;
  //   background-color: #ECECEC;
  // }
  
  
  // .section {
  //   padding: 94px 0;
  // }
  
  // .portfolio__section {
    
  // }
  
  // .main__nav--list {
  //   display: flex;
  //   justify-content: center;
  //   margin-bottom: 50px;
  // }
  
  // .main__nav--link { 
  //   margin-right: 8px;
  //   &:last-child{
  //       margin-right: 0;
  //     }
  // }
  
 
  // .nav__btn { 
  //   text-align: center;
  //   display: inline-block;
  //   width: auto;
  // height: 38px;
  // background: #F5F4FA;
  // border-radius: 4px;
  // padding: 6px 22px;
  
  // font-family: Roboto;
  // font-style: normal;
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 26px;
  // color: #212121;
  // &:hover {
  //   background: $brand__color;
  //   color: #fff;
  //   transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  
  // }
  // }

  // /* cards */
  
  // .cards {
  //   align-items: stretch;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }
  
  // .card__overlay {
  //   position: absolute;
  //   top: 100%;
  //   left: 0;
  //   padding: 63px 24px;
  //   font-weight: normal;
  // font-size: 18px;
  // line-height: 28px;
  // color: #FFFFFF;
  //   width: 100%;
  //   max-width: 370px;
  // max-height: 294px;
  // height: 100%;
  // background-color: rgba(33, 150, 243, 0.9);;
  // opacity: 0;
  // transition: all .25s cubic-bezier(0.4, 0, 0.2, 1);
  // }
  
  
  // .cards__item {
  //   position: relative;
  // max-width: 370px;
  // max-height: 404px;
  // width: 100%;
  // height: 100%;
  // margin-bottom: 30px;
  // overflow: hidden;
  // transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover{
  //   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  //   transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  //  }
  // &:hover .card__overlay {
  //   opacity: 1;
  //   top: 0;
  //   }
  //   &:nth-child(n+7) {
  //       margin-bottom: 0;
  //     }
  //  }
  

  //  .card__title {
  //    padding: 20px 24px;
  //    border: 1px solid #EEE;
  //    border-top: none;
  //  }
 
  // .card__name {
  // font-style: normal;
  // font-weight: bold;
  // font-size: 18px;
  // line-height: 36px;
  //  }
  // .card__type {
  // font-size: 16px;
  // line-height: 30px;
  // color: #757575;
  //  }
  

  // .nav__link-portfolio::before {
  //           content: "";
  //           display: block;
  //           width: 100%;
  //           height: 4px;
  //           background-color:$brand__color;
  //           position: absolute;
  //           top: 0px;
  //           left: 0;
  //         }

  .portfolio__section {
    
    margin: 0 auto;
    padding: 60px 0;
    }

    .main__nav--list {
      padding: 0;
      max-width: 450px;
      width: 100%;
      display: inline-block;
      margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 25px;
      }

        .main__nav--link { 
          margin-right: 8px;
          &:last-child{
              margin-right: 0;
            }
          margin-bottom: 15px;
        }

        .nav__btn { 
            text-align: center;
            display: inline-block;
            width: auto;
          height: 38px;
          background: #F5F4FA;
          border-radius: 4px;
          padding: 6px 22px;
          
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          color: #212121;
          &:hover {
            background: $brand__color;
            color: #fff;
            transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
          
          }
          }

           /* cards */
  
  .cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card__overlay {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 63px 24px;
    font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
    width: 100%;
    max-width: 450px;
  max-height: 404px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);;
  opacity: 0;
  transition: all .25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .cards__item {
    position: relative;
  max-width: 450px;
  max-height: 404px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
   }
  &:hover .card__overlay {
    opacity: 1;
    top: 0;
    }
   }

   .card__img {
     max-width: 450px;
     width: 100%;
     max-height: 294px;
     height: 100%;
   }
  

   .card__title {
     padding: 20px 24px;
     border: 1px solid #EEE;
     border-top: none;
   }
 
  .card__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
   }
  .card__type {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
   }
  

  .nav__link-portfolio::before {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color:$brand__color;
            position: absolute;
            top: 0px;
            left: 0;
          }



          @media (min-width: 768px) {

            // !nav_list

            .main__nav--list {
              margin: 0 auto;
              max-width: 611px;
              width: 100%;
              display: flex;
              justify-content: space-between;
            }

            // !cards

            .cards {
              max-width: 768px;
             flex-direction: row;
             justify-content: flex-start;
             align-items: flex-start;
            }

            .cards__item {
              max-width: 354px;
              &:nth-child(odd) {
                margin-right: 30px;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }

            .card__overlay {
              max-width: 354px;
            }

          }

          @media (min-width: 1200px) {

            .main__nav--list {
              margin-bottom: 34px;
            }

            .cards {
              max-width: 1170px;
            }

            .cards__item {
              max-width: 370px;

              &:nth-child(3n+3) {
                margin-right: 0;
              }

              margin-right: 30px;

            .card__overlay {
              max-width: 370px;
            }
              
          }
        }